.fc-center h2{
	font-size: 24px;
}

.fc-title,
.fc-time span{
	font-size: 14px;
}

.fc-event,
.fc-event:focus{
	padding: 5px;
	/*background-color: #3b83c0;*/
	text-decoration: none;
	color: #fff;
}

td.fc-widget-header.affix{
	background: #ffffff;
	z-index: 100000;
	top: 56px;
}

th.fc-day-header{
	vertical-align: middle;
}

#date-paginator{
	margin-bottom: 25px;
}

#appointment-total{
	text-align: right;
}

#appointment-lesson-form,
#appointment-student-search{
	padding: 15px 25px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
}

#appointment-lesson-form form{
	display: inline-block;
}

#is_auto,
#appointment-lesson-form label,
#appointment-student-search label{
	margin-right: 15px;
}

#appointment-list .td-delete form{
	display: inline-block;
}

#appointment-attendance,
#appointment-lesson{
	width: auto;
}

#appointment-attendance th,
#appointment-lesson th,
#appointment-remarks th{
	width: 150px;
	vertical-align: middle;
}

#appointment-attendance td,
#appointment-lesson td,
#appointment-remarks td{
	vertical-align: middle;
}

#appointment-attendance td{
	padding: 0;
}

#appointment-attendance td label{
	padding: 15px 45px;
}

#appointment-student-list-r{
	max-height: 500px;
}

#appointment-student-list .td-thumbnail .img-thumbnail{
	width: 100px;
}

/* Remarks */
#remarks-title{
	margin-top: 0;
	margin-bottom: 20px;
}

.appointment-remarks{
	width: auto;
}

.appointment-remarks td{
	padding: 0!important;
}

@media(max-width: 767px){
	.fc-center h2{
		
		font-size: 18px;
	}

	.appointment-remarks td{
		white-space: normal!important;
	}

	td.fc-widget-header.affix{
		top: 50px;
	}
}

.appointment-remarks th:first-child,
.appointment-remarks td:first-child{
	width: 250px;
	min-width: 250px;
	max-width: 250px;
	text-align: left;
	font-weight: 500;
	padding: 8px!important;
}

.appointment-remarks td:first-child > span{
	display: inline-block;
	padding-top: 8px;
}

.appointment-remarks tfoot td{
	padding: 8px!important;
}

.appointment-remarks td .form-control,
.appointment-remarks td p{
	border-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: inherit;
	height: 100%;
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	vertical-align: middle;
	margin-bottom: 0;
}

.appointment-remarks td textarea{
	resize: none;
}

#calendar-schedules{
	cursor: pointer;
}

/* Appointment Show and Edit Form */
textarea#notes{
	resize: vertical;
}

textarea.vresizable{
	resize: vertical!important;
}

td.top{
	vertical-align: top!important;
}

#preview-cal h2{
	font-size: 16px;
	margin: 8px 0;
}

#preview-cal .fc-bgevent{
	opacity: .6;
}

/* Month Picker */
#month-paginator .pagination{
	display: flex;
}

#month-paginator .pagination li{
	flex: 1;
	position: relative;
}

#month-paginator .pagination li a{
	width: 100%;
	text-align: center;
}

#month-paginator .pagination li .glyphicon{
	position: absolute;
	right: 0;
	padding: 8px;
	z-index: 10;
	color: #337ab7;
	cursor: pointer;
}

#month-paginator .pagination li.active .glyphicon{
	color: #fff;
}