html{
	width: 100%;
	height: 100%;
	min-height: 460px;
}

body{
	/*background: url('../img/login.jpg');*/
	background: #e8ebf1;
	/*background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;*/
	width: 100%;
	height: 100%;
	font-family: "Open Sans","Helvetica Neue",Helvetica,sans-serif;
	min-height: 460px;
}

#wrapper{
	/*background: rgba(0,0,0,0.3);*/
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 460px;
}

#slogan{
	text-align: center;
	margin-bottom: 30px;
}

#slogan-form{
	text-align: center;
	color: #fff;
	margin: 0;
}

#ads-utm{
	padding: 20px;
	background: #fff;
	min-height: 320px;
}

#ads-utm p{
	margin-top: 30px;
	line-height: 1.5;
	font-size: 20px;
}

#ads-eng{
	padding: 20px;
	background: #fff;
	min-height: 320px;
}

#ads-eng p{
	font-size: 20px;
	text-align: center;
}

#ads-eng img{
	margin: 0 auto;
	width: 180px;
}

#loginbox{
	min-height: 320px;
	/*background: rgba(29,137,207,1);*/
}

#loginbox > div{
	padding: 30px 24px;
}

#loginbox-features{
	/*background: rgba(29,137,207,1);*/
	background: #fff;
	min-height: 320px;
	padding: 20px 24px!important;
}

#loginbox-features img{
	width: 120px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#loginbox-features h1{
	/*color: #fff;*/
	font-size: 20px;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: center;
}

#loginbox-features p{
	/*color: #fff;*/
	text-align: center;
	padding-left: 10px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
}

#loginbox-features p .fa{
	width: 20px;
}

#loginbox-form{
	background: rgba(29,137,207,1);
}

#loginbox-form h1{
	font-size: 20px;
	font-weight: 300;
	/*color: #777;*/
	color: #fff;
	text-align: center;
	font-style: italic;
	margin: 0;
	margin-top: 10px;
	margin-bottom:40px;
}

#loginbox-form .input-group{
	margin-bottom: 15px;
}

#loginbox-form .input-group-addon{
	padding-left: 15px;
	padding-right: 15px;
}

#loginbox-form .input-group input{
	font-size: 18px;
	padding: 20px;
	font-weight: 100;
}

#loginbox-form input[type="submit"]{
	margin-top: 45px;
	font-weight: 100;
}

#loginbox-help{
	margin-top: 20px;
	text-align: center;
	display: block;
}

@media(max-width: 767px){
	#loginbox-features{
		min-height: 0;
	}
	#loginbox-features h1{
		margin-bottom: 0;
	}
	#loginbox{
		margin-bottom: 10px;
	}
	#loginbox .visible-xs img{
		margin: 0;
	}
	#loginbox-form input[type="submit"]{
		margin-top: 15px;
	}
}

#study{
	margin-top: 25px;
	padding: 25px 20px;
	background: #fff;
}

#study h1{
	margin-top: 0;
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
}

#study .helper{
	font-size: 20px;
	text-align: center;
	padding-top: 40px;
}

#study img{
	vertical-align: middle;
	max-height:150px;
	margin: 0 auto;
}

#study .map{
	height: 150px;
}

#study #map-my{
	padding-top: 40px;
}

#study h2{
	font-size: 22px;
	text-align: center;
}

#study-small{
	margin-top: 15px;
	background: #fff;
	padding: 10px;
}