html, body{
	height: 100%;
}

#menu{
	color: #fff;
	width: 200px;
	background: #393F4A;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

@media(max-width: 768px){
	#menu{
		display: none;
	}
}

#menu-header{
	margin-top: 55px;
	padding: 25px 20px;
	text-align: center;
}

#menu-header img{
	display: block;
	margin: 0 auto 12px auto;
}

#menu-header .slim{
	font-weight: 300;
	font-size: 12px;
	color: #ddd;
}

#menu-header .semibold{
	font-weight: 500;
	font-size: 18px;
}

#menu-nav .nav li{
	margin-top: 0;
}

#menu-nav .nav li a{
	color: #ddd;
	font-size: 16px;
	font-weight: 300;
	padding: 15px 20px;
	transition: all 0.3s;
	border-right: 4px solid transparent;
}

#menu-nav .nav li a .icons::before{
	font-size: 1.7em;
	vertical-align: top;
	margin-top: -0.1em;
	width: 26px;
}

#menu-nav .nav li a .icons{
	width: 35px;
}

#menu-nav .nav li a:hover,
#menu-nav .nav li.active a{
	color: #fff;
	background-color: #2A2F38;
	border-right: 4px solid #3498db;
}

#menu-nav .nav li a:hover .badge,
#menu-nav .nav li.active a .badge{
	color: #3498db;
	background: #fff;
}

#menu-nav .nav li a .fa{
	display: inline-block;
	width: 20px;
}

#menu-nav .badge{
	float: right;
}

#menu-nav .divider{
	border-top: 1px solid #999;
	margin: 5px 20px!important;
}

/* Header Bar */
#bar-header{
	display: none;
}

@media(max-width: 768px){

	#bar-header{
		display: block;
		text-align: center;
	} 

	#bar-header .navbar-btn{
		display: inline-block;
		float: right;
		color: #fff;
		font-size: 20px;
		margin: 0;
		margin-top: 4px;
	}

	#logout{
		font-size: 14px!important;
  		margin-top: 10px!important;
	}

	#bar-header .navbar-btn:first-child{
		float: left;
	}

	#bar-header .navbar-brand{
		text-align: center;
		float: none;
		display: inline-block;
		color: #fff;
	}

	#bar-header .navbar-brand img{
		width: 20px;
		float: left;
		display: inline-block;
	}

}

@media (min-width: 768px){
	.navbar-header {
	  float: none !important;
	}
}

/* Footer Bar */
#bar-footer{
	display: none;
}

@media(max-width: 768px){

	#bar-footer{
		display: block;
		background: #eee;
		border-top: 1px solid #bbb;
		text-align: center;
	}

	#bar-footer a{
		display: inline-block;
		width: 18%;
		text-align: center;
		color: #444;
		font-size: 28px;
		padding-top: 2px;
		position: relative;
	}

	#bar-footer a.active{
		color: #4a87ee;
	}

	#bar-footer .badge{
		position: absolute;
		right: 6px;
		top: 6px;
		border-radius: 10px!important;
	}

}