body{
	background: #e8ebf1;
	padding-top: 70px;
}
#header-bar{
	background: #fff;
}
#header-bar .navbar-brand{
	height: 70px;
	padding: 15px 15px;
}
#header-bar .navbar-brand img{
	height: 40px;
	margin-top: -10px;
	display: inline-block;
}
#header-bar .navbar-brand h1{
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 300;
	padding-top: 10px;
}
#restart{
	margin-top: 17px;
}
#info-box{
	margin-top: 20px;
}
#info-box > .col-md-6{
	padding: 30px;
	background: #fff;
}
#info-box h1{
	margin-top: 0;
	text-align: center;
	margin-bottom: 30px;
	font-size: 26px;
}
#info-box p{
	font-size: 16px;
	margin-bottom: 20px;
}
#info-box .btn{
	margin-top: 30px;
}
#start-btn{
	text-align: center;
	margin-bottom: 0!important;
}
#progress{
	border-radius: 0;
	background: #e8ebf1;
}
#question-box{
	margin-top: 20px;
}
#question-box > .col-md-6{
	padding: 30px;
	background: #fff;
}
#question-box h1{
	margin-top: 0;
	text-align: left;
	margin-bottom: 50px;
	font-size: 22px;
}
#question-box .btn{
	margin-top: 30px;
	white-space: normal;
	font-size: 18px;
}
#result-box{
	margin-top: 20px;
	margin-bottom: 20px;
}
#result-box > .col-md-6{
	padding: 30px;
	background: #fff;
}
#result-box h1{
	margin-top: 0;
	text-align: center;
	margin-bottom: 30px;
	font-size: 26px;
}
#result-box h1 img{
	width: 50px;
	margin-right: 10px;
}
#explain{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
#explain .title{
	font-weight: 900;
}
.notice{
	color: #666;
}
.different{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.different h3{
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
}
.different p{
	line-height: 1.5;
}

@media print {
	body{
		padding: 0;
	}
  [class*="col-md-"] {
    float: left;
    width: 100%;
    margin-left: 0;
  }
}