#schedule-table{
	margin-top: 20px;
	text-align: center;
}

#schedule-responsive{
	overflow-x: auto;
}

#schedule-table-month{
	background: #3498db;
	text-align: center;
	color: #fff;
	border: 0;
	font-size: 18px;
	font-weight: 300;
	padding: 12px 0;
	border-top-left-radius: 5px!important;
	border-top-right-radius: 5px!important;
}

#schedule-table-slot{
	border: 1px solid #eee;
	border-top: none;
}

#schedule-table-slot div{
	display: inline-block;
	text-align: center;
	border-right: 1px solid #eee;
	padding: 10px 10px;
	color: #777;
	width: 150px;
}

.schedule-slot-delete{
	float: right;
	display: inline-block;
}

.schedule-slot-delete input[type=submit]{
	background: none;
	border: 0;
	color: #e74c3c;
	padding: 0;
}

#schedule-table-date > div{
	border: 1px solid #eee;
	border-top: none;
	position: relative;
}

#schedule-table-date > div > div{
	display: inline-block;
	border-right: 1px solid #eee;
	color: #777;
	text-align: center;
	width: 150px;
	height: 100px;
	vertical-align: middle;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

#schedule-table-date > div > div:first-child{
	padding: 30px 20px;
}

#schedule-table-date > div > div > p{
	background: #3498db;
	color: #fff;
	margin-left: 3px;
	margin-bottom: 3px;
	padding: 2px 3px;
	width: 140px;
}

#schedule-table-date > div > div > button{
	right: 0;
	top: 0;
	position: absolute;
	box-shadow: 0 0 1px 0 #333;
	border: none;
	padding: 3px 7px;
}

.add-slot{
	position: absolute;
	padding: 3px 7px;
	background: none;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.add-slot:active{
	box-shadow: none;
}