body{
	padding-top: 40px;
	padding-bottom: 40px;
	background: #e8ebf1;
	font-family: "Open Sans","Helvetica Neue",Helvetica,sans-serif;
}

#breadcrumb{
	padding: 10px 0;
	padding-left: 200px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #fff;
	vertical-align: middle;
	width: 100%;
}

#breadcrumb ol{
	background: none;
	margin-bottom: 0;
	padding: 8px 0;
}

#menu-logo{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	padding: 14px 7px 13px 7px;
}

#menu-logo h1{
	font-size: 16px;
	text-align: center;
	color: #1616c1;
	margin: 0;
}

#menu-logo img{
	width: 30px;
	margin-right: 5px;
}

#user-search-form input{
	border-top-left-radius: 50px!important;
	border-bottom-left-radius: 50px!important;
}

#user-search-form button:last-child{
	border-top-right-radius: 50px!important;
	border-bottom-right-radius: 50px!important;	
}

#main-header{
	margin-left: 200px;
}

#main-header .jumbotron{
	margin-bottom: 0;
}

#main-header .jumbotron h1{
	font-size: 36px;
	margin-bottom: 20px;
	margin-top: 0;
}

#main-header-actions{
	text-align: right;
}

#main-header-actions form{
	display: inline-block;
}

#main-header-tabs{
	background: #eee;
}

#main-header-tabs .nav-tabs{
	margin-bottom: 0;
	text-align: left;
}

#main-header-tabs .nav-tabs li{
	display: inline-block;
	float: none;
}

#main-wrapper{
	margin-left: 220px;
	margin-right: 20px;
	margin-top: 40px;
	padding: 20px 0;
	background: #fff;
}

@media(max-width: 768px){
	body{
		padding-top: 50px;
	}

	#breadcrumb{
		display: none;
	}

	#main-header{
		text-align: center;
		margin-left: 0;
	}
	#main-header .jumbotron .container-fluid{
		padding: 0;
	}
	#main-header .jumbotron h1{
		font-size: 20px;
		margin-bottom: 0;
	}
	#main-header-actions{
		text-align: center;
	}
	#main-header-tabs{
		overflow-x: scroll;
	}
	#main-header-tabs .nav-tabs{
		/*text-align: center;*/
		width: 400px;
	}
	#main-wrapper{
		margin-left: 0;
		padding: 10px 0 50px 0;
	}
}

#header{
	margin-top: 0;
}

#header-page-title{
	margin-bottom: 30px;
}

#header-page-title h1{
	color: #2f3135;
	font-size: 28px;
	margin-top: 0;
}

#header-page-title h2{
	color: #a2abba;
	font-size: 14px;
	margin: 0;
}

#header-page-action{
	margin-top: 5px;
	text-align: right;
}

@media(max-width: 768px){
	#header-page-title h1{
		font-size: 20px;
	}

	#header-page-action{
		margin-top: 5px;
		text-align: left;
	}

}

#header .form-inline{
	display: inline-block;
}

#schedule-list th,
#schedule-list td,
#course-list th,
#course-list td,
#user-list th,
#user-list td{
	text-align: center;
}

#course-list .td-thumbnail,
#user-list .td-thumbnail{
	width: 100px;
}

#course-list .img-thumbnail,
#user-list .img-thumbnail{
	width: 100px;
}

#schedule-list .td-delete form,
#course-list .td-delete form,
#user-list .td-delete form,
#notification-list .td-delete form{
	display: inline-block;
}

#schedule-list .td-remarks,
#course-list .td-remarks,
#user-list .td-remarks,
#notification-list .td-remarks{
	white-space: pre;
}

#syllabus-list .panel-title span{
	cursor: pointer;
}

#syllabus-list .panel-title .handle{
	color: #999;
}

#syllabus-list .panel-title .badge{
	background-color: #d9534f;
	float: right;
}

.syllabus-delete,
.user-schedules-delete{
	display: inline-block;
	float: right;
	margin-top: -2px;
}

#syllabus-reorder{
	margin-top: 20px;
}

#syllabus-list pre{
	background: none;
	border: none;
	padding: 0;
}

#attachment-list{
	margin-bottom: 10px;
}

#input_student_info .form-control{
	width: 70px;
	display: inline-block;
}

#input-schedule select{
	margin-right: 10px;
}

#input-schedule  span{
	padding: 0 10px;
}

#input-schedule div {
	margin-top: 10px;
}

#input-schedule .form-control{
	width: 70px;
	display: inline-block;
}

#input-schedule .btn{
	margin-top: -2px;
	margin-left: 10px;
}

/* User */
#user-ap-helper{
	border: 1px solid #ddd;
	padding: 15px 20px;
	margin-bottom: 15px;
}

.user-tn{
	width: 150px;
}

#user-header p{
	font-size: 16px;
}

#user-header{
	padding-bottom: 10px;
}

#user-header .row:first-child{
	margin-bottom: 15px;
}

@media(max-width: 767px){
	#user-ap-helper{
		text-align: center;
	}

	#user-ap-helper select{
		margin-bottom: 10px;
	}

	#user-ap-helper .form-group{
		margin-bottom: 0;
	}
}

footer p{
	margin-top: 15px;
}