 *{
	border-radius: 0!important;
}

.container-fluid{
	padding-left: 25px;
	padding-right: 25px;
}

@media(max-width: 768px){
	.container-fluid{
		padding-left: 15px;
		padding-right: 15px;
	}

	.table-responsive{
		border-top: none;
		border-bottom: none;
	}

	.table-responsive > .table{
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
}

.form-ib{
	display: inline-block;
}

.img-circle{
	border-radius: 50%!important;
}

.nav-tabs{
	margin-bottom: 20px;
}

.panel-title{
	display: inline-block;
}

.panel-title .fa{
	margin-right: 10px;
}

.panel .table{
	border: 0;
}

.table{
	border: 1px solid #ddd;
	text-align: center;
}

.table>thead>tr>th{
	border-bottom-width: 1px;
	font-weight: 500;
	text-align: center;
}

.table>tfoot>tr>td{
	font-weight: 500;
	text-align: center;
}

.table>tbody>tr>td{
	font-weight: 300;
	vertical-align: middle;
}

.modal-dialog{
	margin-top: 50px; 
}

.modal-header, 
.modal-footer{
	border: none;
}

a:focus{
	outline: none;
}

.introjs-helperNumberLayer{
	width: 25px!important;
	height: 25px!important;
}